/*
	jsrepo 1.34.0
	Installed from https://reactbits.dev/default/
	09-02-2025
*/

.shiny-text {
  color: transparent; 
  background: linear-gradient(
    120deg,
    var(--accent-color) 40%,
    var(--secondary-color) 50%,
    var(--accent-color) 60%

  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
