.content {
    scroll-snap-type: y mandatory;
    height: 100vh;
    /* Full viewport height */
    overflow-y: scroll;
    /* Enable vertical scrolling */
    scroll-snap-type: y mandatory;
    /* Apply scroll snap */
    scroll-behavior: smooth;
    /* For native smooth scrolling */
}

.container {
    scroll-snap-align: center;
    /* Center align the snap point within the container */
    height: 100dvh;
    padding: 0 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: justify;
    animation: fade-in ease-out;
    animation-timeline: view();
    animation-range: entry;
}

.container.light {
    color: var(--black-color);
    background-color: var(--white-color);
}

.container.dark {
    color: var(--light-accent-color);
    background-color: var(--black-color);
}

.container.dark h1,
h2,
h3 {
    color: var(--white-color)
}

.container.footer {
    height: 80dvh;
    scroll-snap-align: center;
    animation: none;
}

@keyframes fade-in {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.gpt {
    animation: float 6s ease-in-out infinite;
    height: 50dvh;
    transition: 0.5s;
    padding: 2rem
}

.gpt:hover {
    filter: drop-shadow(0 0 20px var(--accent-color-50));

}