

.wrapper.home section {
    width: 100vw;
}

.wrapper.home section:nth-child(1) {
    padding: 0 clamp(1.6rem, 1.6vw, 8rem);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--regular-size) * 2);
    height: 100svh;
}
.wrapper.home section:nth-child(1)>.waves{
    border-bottom: 0.1rem solid var(--accent-color);
}
.wrapper.home section:nth-child(1)>*{
    z-index: 2;
}
@media (max-width: 860px) {
    .wrapper.home section:nth-child(1) {
        align-items: center;
    }

    .wrapper.home section:nth-child(1) * {
        text-align: center;
    }
}

.wrapper.home section:nth-child(1) .logo {
    width: clamp(8rem, 8vw, 30rem);
}

.wrapper.home section:nth-child(1) .title {
    font-size: clamp(6.4rem, 8vw, 30rem);
    font-weight: 900;
    vertical-align: bottom;
    font-family: "Emberly";
    letter-spacing: .2rem;
    margin-bottom: -2vw !important;

}

.wrapper.home section:nth-child(1) .subtitle {
    font-family: "NeueRegrade";
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    vertical-align: top;
}

.wrapper.home section:nth-child(1) .subtitle span {
    font-family: 'Emberly';
    font-weight: 900;
    font-size: 3rem;
}

.wrapper.home section:nth-child(1) a {
    font-family: 'Emberly';
    display: block;
    background-color: var(--accent-color);
    padding: .5rem .8rem;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 3rem;
    width: fit-content;
    transition: .3s;
    text-decoration: none;
}

.wrapper.home section:nth-child(1) a:hover {
    transform: scaleX(1.1);
    font-weight: 900;
    letter-spacing: .4rem;
}

.wrapper.home section:nth-child(2) {
    padding: 0 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

}