.App{
  background-color: var(--black-color);
  background-size: cover;
  background-attachment: fixed;
}


.App>.nav{
  width: 100dvw;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left:0;
  z-index: 999;
  padding: clamp(1.6rem, 1.6vw, 8rem);
  mix-blend-mode: difference;
}




.App>.nav>a>img{
  width: clamp(2rem, 3.6vw, 8rem);
}